<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="css/base.css"/>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="stylesheet" type="text/css" href="css/xdialog.css"/>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="libs/vue.js"></script>
	<script src="libs/httpVueLoader.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<el-container id="view" style="height: 100%;" direction="vertical">
<!-- 头部 view-->
<el-header id="header">
	<img id="logo" src="./img/logo@2x.png" alt="logo">

	<!-- 遍历一级菜单的名字 -->
	<ul><li :key="k" v-for="(v,k) in mData" @click="switchMenu(k)"><img :src="v.img" alt="pic">{{v.name}}</li></ul>
	
	<div id="baseRigth">
		<img src="./img/default_avatart2@2x.png"><!-- 名字 -->
		<span class="who">
			<span>部门经理</span>&nbsp;<span>王瑞杰</span>
		</span>
		
		<!-- 三个标准按钮 -->
		<span>
			<button class="def-btn"></button>
			<button class="def-btn"></button>
			<button class="def-btn" @click="exitSys"></button>
		</span>
	</div>
	<i style="clear: right"></i>
</el-header>
<!-- 内容 -->
<el-container style="height: 100%;" direction="horizontal" id="container">

	<!-- 左侧栏 view--><!-- width="200px" -->
	<el-aside v-if="!isCloseAside" id="aside">
			<el-row>
				<el-col :span="24"  id="mItemTarget">
					<div id="mItemTarget-title"><img :src="mItemTarget.imgf" alt="pic"> {{mItemTarget.name}}</div>
					<ul>
						<!-- 遍历来自一级菜单的二级菜单的列表项 -->
						<a :key="k" v-for="(v,k) in mItemTarget.item" @click="igoto(v.url.length>3?v.url:'#',v.arg)" id="iframe" target="iframe">
						<li>
							<img :src="v.img" alt="pic">{{v.name}}
						</li>
						</a>
					</ul>
				</el-col>
			</el-row>
	</el-aside>
	
	<!-- 数据 view-->
	<el-main id="content">
	<!-- <div> -->
		<!-- <router-view></router-view> -->
	<!-- </div> -->
	<!-- <iframe frameborder="0" :src="idxHtml" width="100%" height="100%" name="iframe"></iframe> -->
	<iframe style="overflow: visible;" frameborder="0" src="view-msg-check.html" width="100%" height="100%" name="iframe"></iframe>
	</el-main>
</el-container>

</el-container>

<!-- 导航菜单库 -->
<script src="libs/invalid-js/navgation_menus_info.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el:'#view',
	data(){return{
		isLogin:true,		//登录
		isCloseAside:false,	//左侧栏
		mData:null,			//导航数据--一级菜单数据;
		user:1,				//UserCode
		// mItem:null,			//菜单项
		mItemTarget:{		//二级菜单数据;
			name:'',
			item:[]
		},	//目标菜单项的列表;
		// mOpeneds:[],		//未知的;
		identity:0,			//身份;
		idxHtml:''
	}},
	methods:{
		//页面跳转
		igoto(url,arg=null){
			
			return;
			// sessionStorage出现异常问题
			// let j = JSON.parse(arg);
			localStorage.setItem('arg',arg);
			iframe.location.href = url;
			/*
			for(let k in j){
				console.log(k);
				console.log(j[k]);
			}
			*/
		   
		   // document.getElementById('IframeHTMLInfo').src = "HtmlGrid/ExperienceForm.html"
		},
		//切换菜单
		switchMenu(k){
			this.mItemTarget = this.mData[k];
		},
		//退出登录
		exitSys(){
			// this.$parent.isLogin = false;
		},
		//根据身份获取相应的Id
		identityVerify(){
			//根据身份,获取对应的菜单数据
			let NavData = window.NavData;
			// console.log(window.NavData);
			switch(this.identity){
				case 0:
					//一级管理员,总教务
					this.mData = NavData.mg11;
					break;
				
				case 1:
					//一级管理员,财务
					this.mData = NavData.mg12;
					break;
				
				case 2:
					//二级管理员,需要关闭侧边导航栏;
					this.mData = NavData.mg2;
					this.isCloseAside = true;
					break;

				case 3:
					//代理人员;
					this.mData = NavData.mg3;
					break;
			}
			//根据主菜单,获取对应的菜单项数据;
			this.mItemTarget = this.mData[0];
			//设置首个页面的数据;
			this.idxHtml = this.mItemTarget.item[0].url;
			//设置默认页面的数据;
			// window.alert('区分身份!');
			// sessionStorage.setItem('arg',this.mItemTarget.item[0].arg);
			localStorage.setItem('arg',1);
		}
	},
	created(){
		//获取菜单数据;
		this.identityVerify();
		
	},
	mounted(){
		document.body.style.visibility="visible"; //处理数据加载延迟;
		
		//保证页面的高度正常
		document.getElementById('view').style.height= (window.innerHeight)+'px';
		window.onresize = function(){
				document.getElementById('view').style.height= (window.innerHeight)+'px';
		}
	}
});
</script>


</body>
</html>
